
@{
    ViewData["Title"] = "PdfList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h1>Pdf Raporları Sayfası</h1>
<br />
<div class="row">
    <div class="col">
        <div class="card shadow">
            <div class="card-header border-4">
                <br /><br />
                <h3 class="mb-0">Pdf İndirme</h3>
            </div>
            <a href="/Pdf/GetOrderWithCustomerListPdf/" class="btn btn-outline-primary">Sipariş Listesi Pdf Raporu İndir</a>
            <br /><br /> <br />
        </div>

    </div>
</div>
